---
import HeroSection from '../../components/HeroSection.astro';
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Welcome to Astrolus.">
	<main class="space-y-40 mb-40">
		<HeroSection/>
	</main>
</Layout>