---
import PillProyect from "./PillProyect.astro";

interface Props{
    pills: {
            icon: string, 
            title:string,
            description:string
        }[]
    }
const {pills} = Astro.props;
---
<section class="mt-20">
    <div class="flex gap-12 px-4 md:px-0 justify-center flex-wrap md:flex-nowrap">
        {pills.map(pill=>(
            <PillProyect {...pill}/>
        ))}
    </div>
</section>