---
import MasterCard from '@icons/MasterCard.astro';
---
<button 
    type="button" 
    class="text-black mt-4 flex justify-between font-bold py-4 items-center gap-0 w-full bg-gradient-to-br from-yellow-300 text-sm md:text-base transition to-orange-500 hover:from-yellow-400 hover:to-orange-600 rounded-lg px-1 md:px-4 text-center">
    Agenda tu asesoría
    <span style="font-size:11px" class="flex justify-center items-center">
        <MasterCard/>
        (Paga con tarjeta)
    </span> 
</button>