---
const {arrContent} = Astro.props;
type ArrElement =  {
    content: string;
    bold: null | string;
};
---

<ul class="space-y-2 text-left text-gray-500 dark:text-gray-300 mt-4">
    {
        arrContent.map((element:ArrElement)=>(
        <li class="flex items-center space-x-2 rtl:space-x-reverse">
            <svg class="flex-shrink-0 w-3.5 h-3.5 text-green-500 dark:text-green-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 12">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5.917 5.724 10.5 15 1.5"/>
            </svg>
            <span>{element.content}
                {element.bold && 
                    <span class="font-semibold text-gray-900 dark:text-white"> 
                        {element.bold}
                    </span>}
            </span>
        </li>
        ))
    }
</ul>
