---
import ContainerMain from '../ContainerMain.astro';
import CountDown from './CountDown.vue';
import FormWhitelist from './FormWhitelist.astro';
---

<script>
    window.onload = async ()=>{
        const btn = document.querySelector("#openModal");
        const modal = document.querySelector('#formModal');
        const spacesElement = document.querySelector('#available-spaces');
        const base = 100;
        const openModal = ()=>{        
            modal?.classList.remove("hidden");        
            modal?.classList.add("flex");        
        }
        btn?.addEventListener('click', openModal);
        await fetch("/api/get-connection-sheet");
        const emailResponse = await fetch("/api/get-emails");
        const emails = await emailResponse.json();
        const spacesAvailable = base - emails.length;
        if(!spacesElement) return;
        spacesElement.textContent = `+${spacesAvailable} cupos disponibles`;
    }
</script>


<ContainerMain>
    <div aria-hidden="true" class="absolute inset-0 grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-20 -z-10">
        <div class="blur-[106px] h-56 bg-gradient-to-br from-primary to-purple-400 dark:from-blue-700"></div>
        <div class="blur-[106px] h-48 bg-gradient-to-r from-cyan-400 to-sky-300 dark:to-indigo-600"></div>
    </div>
    <FormWhitelist/>
    <div class="flex-col text-center flex justify-center items-center w-full gap-6 md:gap-8">
        <h1 class="font-semibold text-xl md:text-4xl uppercase animate-fade-in-up">
            ¡Abrimos  
            <span class="m-0 p-0 w-fit bg-gradient-to-r font-bold from-cyan-500 to-blue-500 text-transparent bg-clip-text">
                cupos 
            </span>
            para la  
            <span class="m-0 p-0 w-fit bg-gradient-to-r font-bold from-cyan-500 to-blue-500 text-transparent bg-clip-text">
                News Letter
            </span>
            <span class="bg-gradient-to-r font-bold from-cyan-500 to-blue-500 text-transparent bg-clip-text">
            </span>
            de Adevsays!
        </h1>
        <h2 class="font-semibold text-gray-300 text-base md:text-xl">Gracias al apoyo abriremos nuevos cupos por <span class="text-white font-bold">tiempo</span> limitado</h2>
        <h3 class="text-sm md:text-base">Con beneficios espectaculares para mis asesorías...</h3>
        <p class="font-bold text-yellow-400" id="available-spaces">Cupos en tiempo real...</p>
        <CountDown client:load/>
        <button 
            id="openModal"
            class="text-white pointer transition bg-gradient-to-r from-cyan-500 to-blue-500 hover:bg-gradient-to-br font-medium rounded-xl text-base px-6 py-3 text-center mt-4 md:mt-0">
            Inscribirse a la news letter
        </button>

        <p class="mt-16 text-gray-300 w-fit max-w-[700px] pb-52">
            <span class="font-bold text-white">¡Regístrate</span>
             con antelación para ser de los primeros en tener acceso a la news letter! 
             <br>
             <br>
            ¡Cada semana las news son 
            <span class="font-bold text-white">eliminadas</span>! Así que entre más tardes, más información valiosa te perderás.
            Además de que registrándote ahora, tendrás
            <span class="font-bold text-white">un cupón</span>
            para redimir cuando quieras que te dará un
            <span class="font-bold text-white">descuento </span>en una
            de mis asesorías. 🙀
        </p>

    </div>
</ContainerMain>