---
import HeroBlog from "@components/Blog/HeroBlog.astro";
import Layout from "src/layouts/Layout.astro";
---

<Layout 
    title="Blog de Adevsays, creador de contenido y programador" 
    description="Aquí encontrarás contenido atrapante y actualizado del mundo del desarrollo web, software, desarrollo y tecnología en general.">
	<main class="w-full flex flex-wrap min-h-screen bg-transparent">
        <HeroBlog/>
    </main>
</Layout>