---
import ButtonAdvisory from "@components/Advisory/ButtonAdvisory.vue";
---

<section class="lg:px-[9rem] relative pb-12 w-full m-0 flex justify-center">
    <div id="advisory-zone" class="bg-gradient-to-br from-[#680909] via-[#030712] to-[#030712] flex flex-col border border-gray-800 justify-center items-center rounded-xl px-8 py-16 size-full">
        <h2 class="text-center font-bold text-white  text-xl md:text-3xl max-w-[700px]">
            ¡Reserva tu asesoría ahora mismo y empecemos a solucionar bugs!
        </h2>
        <p class="text-sm lg:text-base text-gray-300  text-center m-6 w-full md:max-w-[620px]">
            Si tienes alguna duda puedes escribirme a mis MD de Instagram con la palabra <span class="font-bold text-white">"Asesoría"</span> para que sepa que estás interesado.
            También podrías enviarme un correo a <span class="font-bold text-white"> adevsaysoficial@gmail.com</span>
        </p>
        <div class="flex justify-center items-center gap-8 p-0 w-full max-w-[420px] mb-12">
            <ButtonAdvisory client:load/>    
        </div>
    </div>
</section>

<style>

#advisory-zone > *{
    animation: appear linear both;
    animation-timeline: view();
    animation-range: entry 25% cover 33%;
}

@keyframes appear {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

</style>
