---
import InfoListAdvisory from '../../components/Advisory/InfoListAdvisory.astro';
import InfoImgAdvisory from '../../components/Advisory/InfoImgAdvisory.astro';
const listFirstTxt = [
    {content: 'Implementar mejoras.', bold: null},
    {content: 'Solucionar bugs.', bold: null},
    {content: 'Construir con una buena ', bold: 'estructura.'},
    {content: 'Añadir una nueva ',bold: 'feature.'},
    {content: 'Introducirte a una nueva tecnología para tu ',bold: 'proyecto.'}
];

const listSecondTxt= [
    {content: 'Duración de una hora.', bold:null},
    {content: 'La llamada es ', bold:'grabada.'},
    {content: 'En la plataforma de tu ', bold:'elección.'},
    {content: 'Asesoríra totalmente ', bold:'personalizada.'},
];

const listTools = [
    {content: 'JavaScript ', bold:'(TypeScript, Vue, React, NodeJS)'},
    {content: 'PHP', bold:null},
    {content: 'MySQL', bold:null},
    {content: 'CSS', bold:null},
    {content: 'Electron', bold:null},
];

---

<section class={`pb-20 container-info-advisory w-full z-20 lg:px-[9rem] px-6 flex flex-col items-start justify-start gap-8 min-h-[550px]`}>
    <h2 class="text-center font-bold text-xl lg:text-2xl w-full">¿De qué trata?</h2>
    <div class="flex flex-col xl:flex-row gap-0 lg:gap-12 mt-0 lg:mt-8">
        <aside class="p-3 pt-0">
            <p class="text-base text-gray-300">
                Por medio de una <span class="font-bold text-white"> reunión virutal </span> podrás comentarme a detalle tu problema para que juntos tratemos de hallar una solución.
                Te <span class="font-bold text-white"> ayudaré </span> para que puedas:
            </p>   
            <InfoListAdvisory arrContent={listFirstTxt}/>    
        </aside>
        <InfoImgAdvisory src="Code.webp" alt="Imagen de código"/>   
    </div>
    <div class="grid xl:grid-cols-2 grid-cols-1 mt-6 lg:gap-12">
        <aside class="order-1 xl:order-2 p-3 pt-0">
            <p class="text-base text-gray-300">
                La <span class="font-bold text-white">reunión</span> durará 1:30 (hora y media) que puede ser grabada si así lo elijes para que luego puedas revisarla sin <span class="font-bold text-white">problema</span>. 
                Esta se hace por medio de la plataforma de Meet o también Zoom a tu <span class="font-bold text-white">eleccón</span>. Si te gustaría probar otra <span class="font-bold text-white">plataforma</span>  
                me lo puedes comentar.
            </p>
            <InfoListAdvisory arrContent={listSecondTxt}/>
        </aside>
        <InfoImgAdvisory src="Meet_Zoom.webp" class="order-2 lg:order-1 opacity-80" alt="Imagen de las plataformas Zoom y Meet"/>   
    </div>
    <div class="flex flex-col xl:flex-row gap-0 lg:gap-12 mt-0 lg:mt-8">
        <aside class="p-3 pt-0">
            <p class="text-base text-gray-300">
                Las herramientas en las que asesoro son principalmente de
                <span class="font-bold text-white"> desarrollo web. </span> Puedo ayudarte con temas
                de front-end, back-end y bases de datos. También desarrollo desktop con Electron:
            </p>   
            <InfoListAdvisory arrContent={listTools}/>    
        </aside>
        <InfoImgAdvisory src="Skills.webp" alt="Imagen de las herramientas que maneja Adevsays, creador de contenido y programador, además muy bien parecido. Usa un avatar porque está chido."/>   
    </div>
</section>

<style is:global>

    .container-info-advisory p, .container-info-advisory li{
        animation: text-appear linear both;
        animation-timeline: view();
        animation-range: entry 15% cover 25%;
    }

    @keyframes text-appear{
        from{
            opacity: 0;
        }
        to{
            opacity: 1;
        }
    }
</style>
