<section id="terms-and-conditions">
    <h2>Términos y condiciones</h2>

    <h3>1. Introducción</h3>
    <p>Bienvenido a Adevsays. Al utilizar nuestro sitio web, aceptas estos términos y condiciones en su totalidad. Si no estás de acuerdo con alguna parte, no deberías usar nuestro servicio.</p>

    <h3>2. Uso del sitio</h3>
    <p>Te comprometes a utilizar el sitio solo para fines legales y dentro de los límites permitidos por estos términos. Ofrecemos asesorías, venta de un libro, y plantillas digitales como productos destacados.</p>

    <h3>3. Propiedad Intelectual</h3>
    <p>El contenido, las marcas y los materiales del sitio son propiedad de Adevsays y no pueden ser utilizados sin autorización.</p>

    <h3>4. Modificaciones del servicio</h3>
    <p>Nos reservamos el derecho de modificar o suspender temporalmente el servicio sin previo aviso.</p>

    <h3>5. Contacto</h3>
    <p>Si tienes alguna duda sobre estos términos, escríbenos a nuestro email o contáctanos por Whatsapp directo.</p>
</section>

<section id="privacy-policy">
    <h2>Aviso de Privacidad</h2>
    <h3>1. Introducción</h3>
    <p>Tu privacidad es importante para nosotros. Este aviso describe cómo recopilamos, utilizamos y protegemos tu información personal.</p>

    <h3>2. Información que recopilamos</h3>
    <p>- Datos personales: Nombre, correo electrónico, necesarios para procesar pedidos y entregar productos.</p>

    <h3>3. Cómo usamos tu información</h3>
    <p>- Procesar pedidos y pagos.<br>
       - Enviar actualizaciones o notificaciones relacionadas con tus compras.</p>

    <h3>4. Compartición de datos</h3>
    <p>Tu información se comparte exclusivamente con servicios terceros para operar nuestro negocio:</p>
    <ul>
        <li><strong>Mailerlite</strong>: Para enviar correos electrónicos.</li>
        <li><strong>PayPal, Paddle y Hotmart</strong>: Para gestionar los pagos.</li>
    </ul>
    <p>Todos estos sitios son completamente seguros y tienen sus propios sistemas de seguridad.</p>
    <h3>5. Almacenamiento de datos</h3>
    <p>Todos los datos se almacenan en nuestros servidores propios y protegidos con medidas de seguridad avanzadas.</p>

    <h3>6. Derechos del usuario</h3>
    <p>Si deseas eliminar o modificar tus datos, contáctanos a través de <a href="mailto:adevsaysinfo@gmail.com">adevsaysinfo@gmail.com</a>.</p>

    <h3>7. Seguridad</h3>
    <p>Implementamos medidas de seguridad para proteger tu información contra acceso no autorizado.</p>
</section>

<section id="refund-policy">
    <h2>Política de Devoluciones</h2>
    <h3>1. Introducción</h3>
    <p>Queremos que estés satisfecho con tu compra. Si no lo estás, ofrecemos devoluciones bajo las siguientes condiciones.</p>

    <h3>2. Condiciones para devoluciones</h3>
    <p>Puedes solicitar un reembolso en un plazo de 7 días desde la compra si el producto no cumple con tus expectativas.</p>

    <h3>3. Proceso de devolución</h3>
    <p>Contacta a nuestro equipo en <a href="mailto:adevsaysinfo@gmail.com">adevsaysinfo@gmail.com</a> o vía Whatsapp con los detalles de tu pedido.<br>
       Nuestro equipo evaluará la solicitud y se pondrá en contacto para gestionar el reembolso.</p>

    <h3>4. Restricciones</h3>
    <p>Todos los productos digitales son reembolsables dentro del plazo establecido.</p>

    <h3>5. Costos asociados</h3>
    <p>Los reembolsos no generan costos adicionales, ya que se trata de productos digitales.</p>
</section>

<style>
    section p, section ul li{
        font-size: 1.2em;
    }
    h2{
        font-weight: bold;
        font-size: 2.2em;
    }
    h3{
        font-weight: 500;
        font-size: 1.7em;
        margin: 12px 0px;
    }
</style>