---
interface Props{
    title:string, 
    img:string,
    description:string
}

const {title, img, description} = Astro.props;
---
<div class="flex items-center px-14 mt-4">
    <div class="max-w-60 p-3">
        <img class="size-full" src={img} alt={description}>
    </div>
    <div>
        <h4 class="font-bold text-3xl">{title}</h4>
        <p class="text-gray-800 text-lg mt-3">
            {description}
        </p>
    </div>
</div>