---
import HeroAdvisory from '@sections/Advisory/HeroAdvisory.vue';
import InfoAdvisory from '@sections/Advisory/InfoAdvisory.astro';
import FooterAdvisory from '@sections/Advisory/FooterAdvisory.astro';
import ModalCalendly from '@components/Advisory/ModalCalendly.vue';
import PaypalCheckout from '@components/Advisory/PaypalCheckout.vue';
import Layout from '../layouts/Layout.astro';
import Contact from '@sections/Advisory/Contact.astro';
---

<Layout title="Descubre cómo programar en internet - Asesorías" description="Sercicio de asesorías de Adevsays, creador de contenido y desarrollador de software">
    <div aria-hidden="true" class="absolute inset-0 grid grid-cols-2 -space-x-52 opacity-10">
        <div class="blur-[106px] h-56 bg-gradient-to-br from-yellow-600 to-purple-400 dark:to-indigo-700"></div>
        <div class="blur-[106px] h-32 bg-gradient-to-r from-yellow-600 to-sky-300 dark:to-indigo-600"></div>
    </div>
	<main class="w-full flex flex-wrap min-h-screen bg-gradient-to-b from-[#121212] via-[#121212] to-black">
		<HeroAdvisory client:load/>
        <ModalCalendly client:load/>     
        <PaypalCheckout client:load/>
        <InfoAdvisory/>
        <FooterAdvisory/>
        <Contact/>
	</main>
</Layout>