---
import ComunityVSL from "@sections/VSL/ComunityVSL.astro";
import ContentShopComunity from "@sections/VSL/ContentShopComunity.astro";
import VSLlayout from "src/layouts/VSLlayout.astro";
---

<VSLlayout title="CodeCollabHub" description="Practica tu nivel de programación de la única forma realmente efectiva: con equipos y proyectos reales.">
    <!-- <ComunityVSL/> -->
    <!-- <ContentShopComunity colorBase="bg-orange-500"/> -->
    <h1 class="w-full h-screen text-center flex items-center text-4xl font-bold text-balance">Cerrado por mantenimiento... Pronto CodeCollab 2. 👀</h1>
</VSLlayout>




