---
import Layout from '../layouts/Layout.astro';
import WelcomeMain from '@sections/Home/WelcomeMain.astro';
import Counters from '@sections/Home/Counters.astro';
import VideosContent from '@sections/Home/VideosContent.astro';
import Advisory from "@sections/Home/Advisory.astro";
---

<Layout title="Adevsays - Programador - Creador - Amante de los gatos" description="Página oficial de Adevsays, creador de contenido y programador.">
	<div aria-hidden="true"  class="absolute inset-0 opacity-20">
		<div class="relative h-full w-full bg-slate-950"><div class="absolute bottom-0 left-0 right-0 top-0 bg-[linear-gradient(to_right,#4f4f4f2e_1px,transparent_1px),linear-gradient(to_bottom,#4f4f4f2e_1px,transparent_1px)] bg-[size:14px_24px] [mask-image:radial-gradient(ellipse_60%_50%_at_50%_0%,#000_70%,transparent_100%)]"></div></div>
	</div>
	<main class="w-full flex flex-wrap min-h-screen">
		<WelcomeMain/>
		<Counters/>
		<VideosContent/>
		<Advisory/>
	</main>
</Layout>

