---
import ContentShop from "@sections/VSL/ContentShop.astro";
import VSLlayout from "src/layouts/VSLlayout.astro";
import BookVSL from "src/sections/VSL/BookVSL.astro";
---

<VSLlayout title="Algoritmos a Profundidad" description="Aumenta tu nivel de programación con este conocimiento fundamental que la mayoría ignora">
    <div class="bg-gray-200 xl:px-64 xl:py-12 lg:py-12 lg:px-52">
        <main class="rounded-xl bg-white p-12">
            <BookVSL/>
            <ContentShop/>
        </main>    
        <footer class="text-xs m-2 mt-6 text-center">
            © 2024 Adevsays. <br>
            Descargo de Responsabilidad: Este producto no garantiza la obtención de resultados. Las referencias al desempeño de una determinada estrategia no debe ser interpretada como una garantía de resultados. Esta página no es parte de la página de Meta o de Meta, Inc.
        </footer>
    </div>
</VSLlayout>