---
import Layout from '../layouts/Layout.astro';
import MainWhitelist from '@sections/Newsletter/HeroNewsletter.astro';

export const prerender = false;

---
<Layout title="Whitelist proximamente..." description="¡Reserva un cupo para la news letter de Adevsays!">
    <main class="w-full flex flex-wrap min-h-screen bg-gradient-to-b from-[#121212] via-[#121212] to-black">
        <MainWhitelist />  
    </main>
</Layout>

