---
import Layout from '../layouts/Layout.astro';
import ContainerMain from '../components/UI/ContainerMain.astro';
---

<Layout title="Adevsays - Programador - Creador - Amante de los gatos" description="Página oficial de Adevsays, creador de contenido y programador.">
	<div aria-hidden="true"  class="absolute inset-0 opacity-40 dark:opacity-20">
		<div class="relative h-full w-full bg-slate-950"><div class="absolute bottom-0 left-0 right-0 top-0 bg-[linear-gradient(to_right,#4f4f4f2e_1px,transparent_1px),linear-gradient(to_bottom,#4f4f4f2e_1px,transparent_1px)] bg-[size:14px_24px] [mask-image:radial-gradient(ellipse_60%_50%_at_50%_0%,#000_70%,transparent_100%)]"></div></div>
	</div>
	<main class="w-full flex flex-wrap min-h-screen">
        <ContainerMain className="items-center">
			<div class="w-full flex justify-center flex-col items-center">
				<h1 class="text-center font-bold text-3xl w-full">PROXIMAMENTE <span class="loaderDotsProcessPay"></span></h1>
				<a aria-label="Volver atrás" href="/" class="px-4 gap-1 p-2 flex justify-between items-center rounded-lg bg-gray-700 font-bold w-[120px] m-8 ">
					<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
						<path stroke-linecap="round" stroke-linejoin="round" d="M6.75 15.75 3 12m0 0 3.75-3.75M3 12h18" />
					  </svg>
					  
					Volver
				</a>
			</div>
        </ContainerMain>
	</main>
</Layout>

