---
import MainGift from '@sections/Gift/MainGift.astro';
import Layout from '../layouts/Layout.astro';

export const prerender = false;

---
<Layout title="5 pasos para pasar cualquier entrevista técnica..." description="¡Obtén este regalo por tiempo limitado!">
    <main class="w-full flex flex-wrap min-h-screen bg-gradient-to-b from-[#121212] via-[#121212] to-black">
        <MainGift/>
    </main>
</Layout>

