---
import Layout from '../layouts/Layout.astro';
import MainWhitelist from '@components/WhiteList/MainWhitelist.astro';

export const prerender = false;

---
<Layout title="Whitelist proximamente...">
    <main class="w-full flex flex-wrap min-h-screen bg-gradient-to-b from-[#121212] via-[#121212] to-black">
        <MainWhitelist/>  
    </main>
</Layout>

