<section class="w-full text-center ">
    <header class="w-full ">
        <img class="" src="/resources/minmarket/devjourney/titles/title 1.webp" alt="">
    </header>
    <div class="mt-8 lg:mt-16 px-2 lg:px-12 text-left grid lg:grid-cols-2 items-center gap-2 lg:gap-8">
        <div class="flex-1 px-3 lg:px-5 mt-10">
            <h3 class=" font-extrabold text-xl lg:text-3xl">Tu Productividad como Nunca </h3>
            <p class="mt-5 font-medium text-base lg:text-lg">Organiza tus proyectos y temas de aprendizaje con un novedoso sistema de productividad.</p>
            <p class="mt-2 font-medium text-base lg:text-lg">Registra tus hábitos de estudio y mira gráficamente <br> cómo estás mejorando.</p>    

        </div>
        <div class="px-3 w-full">
            <video
                class="rounded-xl mt-8 " 
                src="/resources/minmarket/devjourney/videos/demo1.mp4"
                autoplay loop muted ></video>
        </div>
    </div>
    
    <div class="mt-8 lg:mt-16 px-2 lg:px-12 text-left grid lg:grid-cols-2 items-center gap-2 lg:gap-8">
        <div class="flex-1 px-3 lg:px-5 mt-10 order-1 lg:order-2">
            <h3 class=" font-extrabold text-xl lg:text-3xl">Mejora Tus Notas </h3>
            <p class="mt-5 font-medium text-base lg:text-lg">Deja de perder tus importantes notas de programación y guarda todo en el mismo lugar.</p>
            <p class="mt-2 font-medium text-base lg:text-lg">Separa por temas y filtra cuando lo necesites.</p>    

        </div>
            <div class="px-3 w-full order-2 lg:order-1">
            <video
                class="rounded-xl mt-8 " 
                src="/resources/minmarket/devjourney/videos/demo2.mp4"
                autoplay loop muted ></video>
        </div>
    </div>


    <div class="mt-8 lg:mt-16 px-2 lg:px-12 text-left grid lg:grid-cols-2 items-center gap-2 lg:gap-8">
        <div class="flex-1 px-3 lg:px-5 mt-10">
            <h3 class=" font-extrabold text-xl lg:text-3xl">Trackea tus Hábitos </h3>
            <p class="mt-5 font-medium text-base lg:text-lg">Empieza a ver la programación como un videojuego.</p>
            <p class="mt-2 font-medium text-base lg:text-lg">Observa tu progreso diario con las tareas que llevas.</p>    
            <p class="mt-2 font-medium text-base lg:text-lg">Mira gráficamente tus avances.</p>    

        </div>
        <div class="px-3 w-full">
            <video
                class="rounded-xl mt-8 " 
                src="/resources/minmarket/devjourney/videos/demo3.mp4"
                autoplay loop muted ></video>
        </div>
    </div>

    <div class="w-full flex justify-center mt-12 ">
        <a href="/minimarket/devjourney/checkout" class="rounded-lg bg-yellow-400 text-black font-bold text-center p-2 px-6 text-sm md:text-xl">Sí quiero estudiar mejor</a>
    </div>

</section>