<section class="lg:px-12 mt-12">
    <div class="w-full border-2 rounded-lg border-gray-800 z-11 h-full flex  flex-col gap-8 md:flex-row relative mb-6">
        <div class="text-left p-4 lg:pt-10">
            <h3 class="text-xl font-bold">Una comunidad de personas como tú.</h3>
            <p class="my-6 lg:text-lg">Resuelve dudas conmigo y haz contactos que están buscando ser más productivos gracias a su segundo cerebro.</p>
            <small class="italic block">Pago único</small>
            <a href="/minimarket/devjourney/checkout" class="lg:max-w-[250px] mt-2 block rounded-lg bg-yellow-400 text-black font-bold text-center p-2 px-6 text-sm md:text-lg">¡Unirme ahora!</a>
        </div>
        <div class="flex justify-center">
            <img class="object-contain max-w-[600px] w-full" src="/resources/minmarket/devjourney/titles/Devjourney comunity.webp" alt="La comunidad de DevJourney">
        </div>
    </div>
   
</section>