---
import VSL from "@components/VSL/VSL.astro";
---

<main class="rounded-xl bg-gray-950 p-6 lg:p-6 lg:py-12 w-full lg:w-[70%]">
    <header class="text-center p-1 lg:p-3">
        <h1 class="font-bold text-3xl lg:text-5xl">Organiza tus <span class="rounded-lg bg-yellow-400 text-black font-medium px-2">proyectos</span> y <span class="rounded-lg bg-white text-black font-medium px-2">estudios</span> en piloto automático</h1>
        <p class="mt-4 lg:text-lg text-base italic">Crea un segundo <span class="underline decoration-yellow-600">cerebro</span> y céntrate en lo <span class="underline decoration-yellow-600">importante</span>.</p>            
    </header>
    <div class="p-5">
        <!-- <VSL videoId="a7l8Jb7tJ3E"/> -->
        <div class="bg-white rounded-xl h-[520px] text-black flex justify-center items-center">
            <h3 class="text-2xl">Vídeo VSL de la plantilla</h3>
        </div>
    </div>
</main>