---
import DevJourneyHero from "./DevJourneyHero.astro";
import DevJourneyCards from "./DevJourneyCards.astro";
import DevJournyeTelegram from "./DevJournyeTelegram.astro";
---

<div id="imgContainer" class="w-full text-center absolute h-auto md:h-1/2 top-[75vh] md:top-[80vh] lg:top-[140vh]">
    <div class=" w-full flex justify-center h-[420px] md:h-auto aspect-video">
        <img 
            loading="lazy"
            class="size-full object-cover object-top"
            src="/resources/minmarket/devjourney/content_presentation.png" alt="Presentación de DevJourney, plantilla de notion para programación.">
    </div>
    <div id="btnContainer" class="bg-gradient-to-br from-gray-950 to-gray-900  py-8 w-full flex justify-center relative top-[-50px]">
        <a href="/minimarket/devjourney/checkout" class="rounded-lg bg-red-600 text-white font-bold text-center p-2 px-6 text-sm md:text-base lg:text-xl">Empezar a usar mi segundo cerebro</a>
    </div>
    <DevJourneyHero/>
    <DevJourneyCards/>
</div>
