---
import Container from "./Container.astro"

---
<div class="relative h-screen" id="home">
    <div aria-hidden="true" class="absolute inset-0 grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-20">
        <div class="blur-[106px] h-56 bg-gradient-to-br from-primary to-purple-400 dark:from-blue-700"></div>
        <div class="blur-[106px] h-32 bg-gradient-to-r from-cyan-400 to-sky-300 dark:to-indigo-600"></div>
    </div>
    <Container>
        <div class="relative pt-36 ml-auto">
            <div class="lg:w-2/3 text-center mx-auto">
                <h1 class="dark:text-white text-black font-bold xl:leading-[6rem] text-5xl md:text-6xl xl:text-7xl">El mejor descargador para vídeos de<span class="text-primary text-red-600"> Youtube</span></h1>
                <p class="mt-8 text-gray-700 dark:text-gray-300">Descarga tu música o vídeos totalmente gratis y cuando quieras con ViDown.</p>
                <div class="mt-16 flex flex-wrap justify-center gap-y-4 gap-x-6">
                  <a href="https://drive.google.com/file/d/1bUYlBH0cG164tdbA4lQBiGrm0o6eVJkX/view?usp=sharing" download="true" class="text-white bg-gradient-to-r min-w-[200px] from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br hover:opacity-80 shadow-lg shadow-red-500/50 dark:shadow-lg dark:shadow-red-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">DESCARGAR VIDOWN</a>
                </div>
            </div>           
        </div>
    </Container>
</div>