---
import { getCollection } from "astro:content";

const collections = await getCollection("articles");
const tags = [...new Set(collections.flatMap(({data})=> data.tags.map((tag:string)=> tag)).sort())];  

---
<section class="lg:px-[9rem] mb-20 px-12 w-full">
    <div class="flex flex-col lg:flex-row items-center gap-3 rounded-2xl border border-gray-800 p-4 justify-center">
        <h3 class="font-bold">Las categorías más buscadas</h3>
        <div class="flex flex-wrap gap-3 text-sm">
            {
                tags.map(tag=> (
                    <a class="hover:opacity-85 text-center transition-opacity p-1 px-2 bg-gradient-to-br from-cyan-600 to-blue-600 rounded-xl" href={`/blog/categorias/${tag.toLowerCase()}`}>{tag}</a>
                ))
            }
        </div>
    </div>
</section>
