---
import getBanner from "src/utils/getBannerAd"

const {link, text, img} = getBanner();
console.log(img)
---
<a target="_blank" rel="noreferrer nofollow" href={link}>
    <aside class="w-full flex-col items-center justify-center relative h-full col-span-1 hidden lg:flex"> 
        <p class="absolute text-xs top-[-23px]">{text}</p>
        <img class="object-cover rounded-lg size-full" src={`./banners/Banner${img}.webp`} alt={text}>
        <!-- <button class="font-bold top-[80px] absolute text-sm p-1 px-2 rounded-lg bg-yellow-400 text-black">Ver información</button> -->
    </aside>    
</a>
