---
import ContainerMain from "@components/UI/ContainerMain.astro";
import ContainerArticles from "./ContainerArticles.astro";
---

<ContainerMain className= "flex flex-col">
    <h1 class="text-3xl font-bold">Últimos artículos por <span class="text-yellow-400">Adevsays</span></h1>
    <ContainerArticles/>
</ContainerMain>