<div id="navlinks" class="invisible p-8 absolute top-full lg:h-[50px] left-0 z-20 w-full origin-top-right translate-y-1 scale-90 flex-col flex-wrap justify-end gap-6 rounded-lg border opacity-0 shadow-2xl shadow-gray-600/10 transition-all duration-300 bg-gray-100 lg:bg-gray-200 dark:border-gray-700 dark:bg-gray-900 dark:bg-opacity-70 dark:shadow-none lg:visible lg:relative lg:flex lg:w-7/12 lg:translate-y-0 lg:scale-100 lg:flex-row lg:items-center lg:gap-0 lg:border-none lg:bg-transparent lg:py-8 lg:opacity-100 lg:shadow-none">
    <slot/>
</div>