---
import MiniMarketLayout from "src/layouts/MiniMarketLayout.astro";
import VSLlayout from "src/layouts/VSLlayout.astro";
import DevJourneyCheckout from "src/sections/Minimarket/DevJourneyCheckout.astro";
---

<VSLlayout title="DevJourney - La mejor herramienta para programadores Pagar" description="Página de venta de la plantilla DevJourney, un sistema diseñado para mejorar la productivdad de los estudiantes de programación.">
    <main>
        <DevJourneyCheckout/>
    </main>
</VSLlayout>

