---
import VSLlayout from "src/layouts/VSLlayout.astro";
---

<VSLlayout title="Sucess checkout para comprar Devjourney" description="Página de sucess">
    <main class="flex justify-center items-center flex-col text-center">
        <img class="max-w-[220px]" src="https://cdn2.iconfinder.com/data/icons/greenline/512/check-512.png" alt="success icon">
        <h3 class="text-3xl font-bold">¡Gracias por tu compra!</h3>
        <p class="my-4">Revisa tu email para verificar tu compra.</p>
        <p>Puede encontrarse en los canales de notificaciones, social o spam.</p>
        <p>Si después de 3 minutos no ha llegado a tu correo, contáctanos a <a href="mailto:adevsaysinfo@gmail.com">adevsaysyinfo@gmail.com</a></p>
        <small>Disfruta de DevJourney y únete a la comunidad para presumir tu nueva productividad.</small>
        <a class="bg-blue-700 text-white rounded-lg py-2 px-12 mt-4" href="/">Volver</a>
    </main>
</VSLlayout>