---
import VSL from "@components/VSL/VSL.astro";
---

<section>
    <h3 class="text-black text-center pb-2 font-medium">Mi Nuevo Ebook te Revela...</h3>
    <h1 class="text-pretty text-3xl md:text-3xl lg:text-5xl font-bold text-center w-full text-black lg:leading-[50px]">Cómo Mejorar Tu Nivel de Programación con un <span class="text-green-700">Conocimiento que Todos Dejan de Lado</span>...</h1>
    <p class="text-sm text-black text-center mt-2">(Saber esto me permite asesorar perfiles Con más expericiencia que yo...)</p>
    <small class="text-center text-sm w-full block mt-4 "> <i>Espera el vídeo</i>...</small>
    <VSL videoId="a7l8Jb7tJ3E"/>
</section>