---
import VSL from "@components/VSL/VSL.astro";
---

<section>
    <h3 class="text-black text-center pb-2 font-medium">La mejor comunidad de programación te permitirá...</h3>
    <h1 class="text-pretty text-3xl md:text-3xl lg:text-5xl font-bold text-center w-full text-black lg:leading-[50px]">Mejorar tu nivel con el <span class="bg-orange-300 rounded-lg px-1">método</span> <span class="underline-red">Más Efectivo</span> que existe...</h1>
    <p class="text-sm text-center mt-2 text-orange-500">(Practicar de esta forma te permitirá tener proyectos atractivos para tu portafolio)</p>
    <small class="text-center text-sm w-full block mt-4 "> <i>Espera el vídeo</i>...</small>
    <VSL videoId="Z2OFqTEqFDM"/>
</section>

<style>
    .underline-red{
        text-decoration: underline;
        text-decoration-color: red;
    }
</style>