---
import Layout from "./Layout.astro";
const {img, title, description} = Astro.props;
---

<Layout title={title} description={description}>
	<main class="w-full flex flex-wrap min-h-screen">
        <section class="pt-40 pb-6 lg:pb-20 w-full z-20 lg:px-[9rem] px-6 flex flex-col items-center justify-center gap-0 lg:gap-12 min-h-[550px]">
            <article class="p prose dark:prose-invert w-full prose-img:rounded-lg prose-a:no-underline prose-h1:mt-6">
                <img src={img} alt={description}>
                <a id="back" href="/blog_de_adevsays">Volver atrás</a>
                <slot/>
            </article>                
        </section>
    </main>
</Layout>

<style>
    #back:hover{
        opacity: .7 !important; 
    }
    
</style>