---
import Footer from "@components/UI/Footer/Footer.astro";
import HeaderComponent from "@components/UI/Header/HeaderComponent.astro";
import { ViewTransitions } from "astro:transitions";
import '@fontsource-variable/onest';

const {title, description} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/adevsays-icon.ico" />
        <meta name="generator" content={Astro.generator} />
        <meta name="description" content={description} />
        <title>{title}</title>
        <ViewTransitions fallback="none"/>
    </head>
    <body>
        <HeaderComponent/>
        <slot />
        <Footer />
    </body>

</html>

<style is:global>
    html {
        scroll-behavior: smooth;
        color-scheme: light dark;
    }

    body {
        margin: 0;
        font-family: 'Onest Variable', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .loaderDotsProcessPay {
        text-align: center;
        font-weight: bold;
        overflow: hidden;
        white-space: nowrap;
    }

    .loaderDotsProcessPay::after {
        content: "...";
        animation: cargando 1s infinite linear; /* Animación */
    }

    @keyframes cargando {
        0% { content: "."; }
        33% { content: ".."; }
        66% { content: "..."; }
    }

</style>
