---
import BuyButton from "@components/Proyects/BuyButton.astro";
import buyButtons from "../../consts/buyButtons";
import ContainerPillProyect from "@components/Proyects/ContainerPillProyect.astro";

const characteristics = [
    {
        icon: `<svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-currency-exchange" viewBox="0 0 16 16">
                <path d="M0 5a5 5 0 0 0 4.027 4.905 6.5 6.5 0 0 1 .544-2.073C3.695 7.536 3.132 6.864 3 5.91h-.5v-.426h.466V5.05q-.001-.07.004-.135H2.5v-.427h.511C3.236 3.24 4.213 2.5 5.681 2.5c.316 0 .59.031.819.085v.733a3.5 3.5 0 0 0-.815-.082c-.919 0-1.538.466-1.734 1.252h1.917v.427h-1.98q-.004.07-.003.147v.422h1.983v.427H3.93c.118.602.468 1.03 1.005 1.229a6.5 6.5 0 0 1 4.97-3.113A5.002 5.002 0 0 0 0 5m16 5.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0m-7.75 1.322c.069.835.746 1.485 1.964 1.562V14h.54v-.62c1.259-.086 1.996-.74 1.996-1.69 0-.865-.563-1.31-1.57-1.54l-.426-.1V8.374c.54.06.884.347.966.745h.948c-.07-.804-.779-1.433-1.914-1.502V7h-.54v.629c-1.076.103-1.808.732-1.808 1.622 0 .787.544 1.288 1.45 1.493l.358.085v1.78c-.554-.08-.92-.376-1.003-.787zm1.96-1.895c-.532-.12-.82-.364-.82-.732 0-.41.311-.719.824-.809v1.54h-.005zm.622 1.044c.645.145.943.38.943.796 0 .474-.37.8-1.02.86v-1.674z"/>
               </svg>`,
        title: "Garantía garantizada",
        description: "Tienes hasta 7 días para solicitar un reembolso sin el libro no es lo que esperas. Tenemos un porcentaje de reembolsos del 0%."
    }, 
    {
        icon: `<svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-piggy-bank" viewBox="0 0 16 16">
                <path d="M5 6.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0m1.138-1.496A6.6 6.6 0 0 1 7.964 4.5c.666 0 1.303.097 1.893.273a.5.5 0 0 0 .286-.958A7.6 7.6 0 0 0 7.964 3.5c-.734 0-1.441.103-2.102.292a.5.5 0 1 0 .276.962"/>
                <path fill-rule="evenodd" d="M7.964 1.527c-2.977 0-5.571 1.704-6.32 4.125h-.55A1 1 0 0 0 .11 6.824l.254 1.46a1.5 1.5 0 0 0 1.478 1.243h.263c.3.513.688.978 1.145 1.382l-.729 2.477a.5.5 0 0 0 .48.641h2a.5.5 0 0 0 .471-.332l.482-1.351c.635.173 1.31.267 2.011.267.707 0 1.388-.095 2.028-.272l.543 1.372a.5.5 0 0 0 .465.316h2a.5.5 0 0 0 .478-.645l-.761-2.506C13.81 9.895 14.5 8.559 14.5 7.069q0-.218-.02-.431c.261-.11.508-.266.705-.444.315.306.815.306.815-.417 0 .223-.5.223-.461-.026a1 1 0 0 0 .09-.255.7.7 0 0 0-.202-.645.58.58 0 0 0-.707-.098.74.74 0 0 0-.375.562c-.024.243.082.48.32.654a2 2 0 0 1-.259.153c-.534-2.664-3.284-4.595-6.442-4.595M2.516 6.26c.455-2.066 2.667-3.733 5.448-3.733 3.146 0 5.536 2.114 5.536 4.542 0 1.254-.624 2.41-1.67 3.248a.5.5 0 0 0-.165.535l.66 2.175h-.985l-.59-1.487a.5.5 0 0 0-.629-.288c-.661.23-1.39.359-2.157.359a6.6 6.6 0 0 1-2.157-.359.5.5 0 0 0-.635.304l-.525 1.471h-.979l.633-2.15a.5.5 0 0 0-.17-.534 4.65 4.65 0 0 1-1.284-1.541.5.5 0 0 0-.446-.275h-.56a.5.5 0 0 1-.492-.414l-.254-1.46h.933a.5.5 0 0 0 .488-.393m12.621-.857a.6.6 0 0 1-.098.21l-.044-.025c-.146-.09-.157-.175-.152-.223a.24.24 0 0 1 .117-.173c.049-.027.08-.021.113.012a.2.2 0 0 1 .064.199"/>
                </svg>`,
        title: "Precio competitivo",
        description: "Una inversión imperdible con explicaciones detalladas y ejemplos en los 3 lenguajes de programación más utilizados."
    }, 
    {
        icon: `<svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-book" viewBox="0 0 16 16">
                <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783"/>
               </svg>`,
        title: "Explicación de +30 algoritmos",
        description: "En el libro se explican libros de todos los niveles, empezando por el nivel básico hasta aquellos más complejos y poco conocidos."
    }, 
];

const imgs = [1,2,3];

---

<ContainerPillProyect pills={characteristics}/>

<section class="px-4 md:px-0 text-gray-200">
    <h2 class="font-semibold text-3xl text-white">Resumen</h2>
    <p>Aprender <span class="highlight">algoritmos</span> no solamente es recomendable si no totalmente <span class="highlight">necesario</span> para incrementar tu nivel de desarrollo ya que estos te permite observar problemas típicos con una perspectiva más profesional.</p>
    <p>
        Por eso en este libro he recopiado los 30 algoritmos más comunes en la vida laboral que probablemente vayas a necesitar en algún momento. Al adquirir este libro no solo tendrás mayor claridad de varios conceptos, si no un glosario para volver siempre que tengas dudas con algún algoritmo puntual.
    </p>
</section>

<section>
    <h3 >Extractos</h3>
    <div class="w-full flex justify-center items-start mt-12 gap-6 flex-wrap lg:flex-nowrap">
        {imgs.map(img=> (
            <div class="max-w-[310px] xl:max-h-[365px] mt-4 overflow-hidden">
                <img class="size-full object-cover" src={`/resources/proyects/ebook/page ${img}.webp`} alt="Extracto del libro de Adevsays"/>
            </div>
        ))}
    </div>
    <BuyButton slug={buyButtons.book} text="¡Comprar ahora!"/>
</section>

<section>
    <h3>Extras</h3>
    <p>
        Con la compra de <span class="highlight"> Algoritmos a profundidad </span> recibirás de regalo una copia de mi ebook <span class="highlight"> Escribir correctamente Commits</span>
        GRATIS donde aprenderás una técnica muy valiosa y no tan enseñada para seguir una valiosa estructura que te permita ordener mejor los commits de tu repositorio de Github.
    </p>
    <div class="w-full flex justify-center items-center flex-col">
        <img class="max-w-[380px]" src="/resources/proyects/ebook/two books.webp" alt="Dos ebooks de Adevsays"/>
        <p class="font-semibold">Bono de regalo<span class="text-yellow-400"> Escribir commits correctamente</span></p>
    </div>
    <p class="text-red-400">Todos los compradores también tendrán un acceso exclusivo para un seminario impartido por mí sobre grafos. </p>
    <p>En este seminario vamos a aprender:</p>
    <ul class="font-semibold list-disc pl-5 space-y-1 mt-3">
        <li>Qué son los grafos y por qué aprenderlos</li>
        <li>Cómo utilizarlos</li>
        <li>Cómo modelar grafos en código</li>
        <li>Cómo diferentes algoritmos de grafos</li>
    </ul>
    <p>
        La invitación llegará al email con el que compraste el libro. Con una duración de aproximadamente 2 horas y <span class="highlight">EN VIVO. </span>
        Podrás hacer preguntas y recibir feedback en tiempo real.
    </p>
    <div class="w-full flex justify-center items-center flex-col mt-10 gap-8">
        <img class="max-w-[280px] border border-gray-700 rounded" src="/resources/proyects/ebook/seminario.webp" alt="Dos ebooks de Adevsays"/>
        <p class="font-semibold">Bono de regalo <span class="text-yellow-400">Seminario de grafos</span></p>
    </div>
    <BuyButton text="¡Quiero todo esto!" slug={buyButtons.book}/>
    <small class="mt-4 text-center w-full block">Todo lo anterior más el ebook estará disponible a partir de hoy para los nuevos compradores. ¡Te esperamos ahí!</small>
</section>

<style>
    .highlight{
        @apply font-bold text-white;
    }

    section{
        @apply w-full mt-20;
    }

    h3{
        @apply font-semibold text-2xl text-white;
    }

    p{
        @apply mt-3;
    }
</style>