---
import ViDownComponent from '../../components/Proyects/Vidown/ViDownComponent.astro';
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Descarga ViDown">
	<div class="relative h-full w-full bg-neutral-900"><div class="absolute inset-0 bg-fuchsia-400 bg-[size:20px_20px] opacity-20 blur-[100px]"></div></div>        
	<main class="space-y-40 mb-40">
		<ViDownComponent/>
	</main>
</Layout>